/* Barra de navegacion */

.navbar{
    padding: 2rem;
    background-color: rgb(253, 238, 194);
}

.navbar-collapse{
    justify-content: space-between;
    align-items: center;
}

/* Estilos grales */

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Seccion hero */

.hero{
    min-height: 450px;
    text-align: center;
}

h1{
    font-size: 3rem;
    color: #F5874F;
    font-family: 'Ubuntu', sans-serif;
}

h2{
    color: dimgray;
    font-size: 1.5rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

.hero-ppal{
    padding: 4rem;
}

.hero-imagen{
    width: 400px;
    margin-bottom: 2rem;
    
}


/* Sobre mi */

.sobremi{
    height: 450px;
    background-color: #815AA4;
    color: #ffffff;
}

h3{
    font-size: 2rem;
    font-family: 'Ubuntu', sans-serif;
}

.sobremi .contenedor{
    max-width: 600px;
    text-align: center;
}

/* Adaptable responsivo */

@media screen and (max-width:767px){
    .navbar-brand{
        display: none;
       
    }

    .hero-ppal{
        padding: 2rem 1rem;
        text-align: center;
    }

    .hero h1{
        font-size: 2rem;
    }
    .hero h2{
        font-size: 1rem;
    }

    .sobremi{
        padding: 1rem;
        height: auto;
    }
    

    
    .sobremi{
        align-items: center;
        justify-content: center;

    }

    
}