/* Barra de navegacion */

.navbar{
    padding: 2rem;
    background-color: rgb(253, 238, 194);
}

.navbar-collapse{
    justify-content: space-between;
    align-items: center;
}

/* Estilos grales */

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.btn-light{
    font-size: 1rem;
    margin: 12px;
    color:#a8a8a8;

}

/* Seccion hero */

.hero{
    min-height: 450px;
    text-align: center;
}

h1{
    font-size: 3rem;
    color: #F5874F;
    font-family: 'Ubuntu', sans-serif;
}

h2{
    color: dimgray;
    font-size: 1.5rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

.hero-ppal{
    padding: 3rem;
}

.hero-imagen{
    width: 400px;
    margin-bottom: 2rem;
    
}


/* Sobre mi */

.sobremi{
    height: 450px;
    background-color: #815AA4;
    color: #ffffff;
}

h3{
    font-size: 2rem;
    font-family: 'Ubuntu', sans-serif;
}

.sobremi .contenedor{
    max-width: 600px;
    text-align: center;
}

/* Proyectos */
.proyectos{
    padding: 3rem;
}

.proyectos h3{
    font-size: 2rem;
}

.proyecto img{
    padding: 12px;
    width: auto;
    height: 300px;
    width: 300px;
    display: block;
    transition: all 0.5s ease ;
}

.contenedor-proyectos{
    margin-bottom: 40px;
    padding-top: 60px;
}

.info{
    transition: all 0.2s ease;
    opacity: 0;
    position:absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.info p{
    font-size: 1rem;
    font-weight: bold;

}


.proyecto{
    position: relative;
    display: flex;
    justify-content: center;
    color: #4e4e4e;
}


.proyecto:hover img{
    opacity: 0.5;
}

.proyecto:hover .info{
    opacity: 1;
}


.info .icono-contenedor{
    display: flex;
    justify-content: center;
    
    
}

.info svg{
    color:#4e4e4e;

}

/* Adaptable responsivo */

@media screen and (max-width:767px){
    .navbar-brand{
        display: none;
       
    }

    .hero-ppal{
        padding: 2rem 1rem;
        text-align: center;
    }

    .hero h1{
        font-size: 2rem;
    }
    .hero h2{
        font-size: 1rem;
    }

    .sobremi{
        padding: 2rem 1rem;
        height: auto;
    }
    

    
    .sobremi{
        align-items: center;
        justify-content: center;

    }

    
}